/* About */

#about {
	padding: 6em 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#header {
	display: flex;
	flex-direction: row;
	width: 54em;
}
#about .title {
	margin-top: 5em;
}
#portrait img {
	width: 15em;
	height: 15em;
	object-fit: cover;
	border-radius: 50%;
	position: absolute;
	margin-left: 11em;
}
#divider img {
	width: 54em;
	height: 3em;
	z-index: -1;
	margin: 1.5em 0;
}
#about .content {
	display: flex;
	flex-direction: row;
	width: 54em;
	position: relative;
}
#text {
	display: flex;
	flex-direction: column;
}
#bio {
	width: 38.5em;
}
#bio p {
	padding-bottom: 1em;
}
#buttons {
	display: flex;
	flex-direction: row;
	margin-top: 2em;
}
.button-outline {
	margin-right: 1em;
}
#patterns div {
	position: absolute;
}
.line-dots {
	left: 48.5em;
}
.line-dots img {
	width: 6em;
	height: 1em;
}
.square-dots {
	left: 41em;
	margin-top: 3em;
}
.square-dots img {
	width: 13em;
	height: 13em;
}
.double-lines {
	left: 31em;
	margin-top: 21em;
}
.double-lines img {
	width: 23em;
	height: 2em;
}

/* Skills */

#skills {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 2em 0 3em;
	padding: 4em 0;
}
#skills .title {
	width: 54em;
	margin-bottom: 2em;
}
#list {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.skill {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 17em;
}
.skill span {
	font-size: 12em;
}
.skill h3 {
	margin-top: 1em;
	margin-bottom: 0.5em;
}
#skills .line-dots {
	width: 1.5em;
	height: 6em;
	margin-top: 3em;
}
#skills .line-dots img {
	transform: translateX(-5em) rotate(90deg);
	margin: 2.5em 0 0 2.5em;
}

/* Contact */

#contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 4em 0;
	margin: 3em 0;
}
#contact .title {
	display: flex;
	flex-direction: column;
	align-items: left;
	width: 54em;
}
#contact .content {
	display: flex;
	flex-direction: row;
	width: 54em;
}
#form {
	width: 29em;
	margin-top: 2em;
	margin-right: 3em;
	position: relative;
}
input, textarea {
	padding: .5em 1em;
	width: 27em;
	border-radius: .25em;
	background-color: white;
	border-style: solid;
	border-width: 0.0625em;
	border-color: rgba(68, 68, 68, .5);
	color: #444444;
}
textarea {
	height: 7em;
	resize: none;
}
.input-field {
	margin-bottom: 0.5em;
}
#name-label {
	margin-right: 14em;
}
#name-input {
	width: 12em;
	margin-right: 0.5em;
}
#company {
	width: 12em;
}
#send input {
	position: absolute;
	right: 0;
	margin-top: 2em;
	width: 14em;
}
#graphic {
	width: 23em;
	height: 27em;
	position: relative;
}
#mailbox img {
	width: 16em;
	position: absolute;
	right: 0;
}
#graphic .line-dots img {
	width: 2.5em;
	height: 1em;
	position: absolute;
	top: 5.5em;
	right: 5em;
}
#graphic .square-dots img {
	width: 7em;
	height: 7em;
	position: absolute;
	top: 12em;
	right: 0;
	z-index: -1;
}
#graphic .double-lines img {
	width: 23em;
	height: 2em;
	position: absolute;
	top: 0;
}

/* Media Queries */

@media screen and (max-width: 1000px) {
	#name-input {
		margin-right: 0.4em;
	}
}
@media screen and (max-width: 700px) {
	#name-input {
		width: 11.9em;
		margin-right: 0.4em;
	}
	#company {
		width: 11.9em;
	}
}
@media screen and (max-width: 600px) {
	#name-input {
		width: 11.88em;
		margin-right: 0.4em;
	}
	#company {
		width: 11.88em;
	}
}